<a href="https://colab.research.google.com/github/ninivehelen/Modelos_Machine_Learning/blob/master/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Prevendo a chance de sobrevivencia (Titanic)**

In [103]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Importando bibliotecas**

In [104]:
import pandas as pd
import numpy as np

In [105]:
train = pd.read_csv("/content/drive/MyDrive/titanic/train.csv")
test = pd.read_csv("/content/drive/MyDrive/titanic/test.csv")

In [88]:
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

**Usando modelo forest para prever os dados**

In [89]:
from sklearn.ensemble import RandomForestClassifier

In [90]:
modelo = RandomForestClassifier(n_estimators=100, n_jobs=1, random_state=0)

**Transformando Strings em numerico**

In [91]:
def transforma_sex(valor):
   if (valor == "female"):
       return 1
   else:
       return 0
train["Sex_binario"] = train["Sex"].map(transforma_sex)

In [92]:
def transforma_sex(valor):
   if (valor == "female"):
       return 1
   else:
       return 0
test["Sex_binario"] = test["Sex"].map(transforma_sex)

In [93]:
variaveis = ["Sex_binario", "Age","Pclass"]

In [94]:
x = train[variaveis]
y = train["Survived"]

In [95]:
x.head()

   Sex_binario   Age  Pclass
0            0  22.0       3
1            1  38.0       1
2            1  26.0       3
3            1  35.0       1
4            0  35.0       3

In [96]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [97]:
x = x.fillna(-1)

**Fazendo o fit dos dados**

In [98]:
modelo.fit(x,y)

RandomForestClassifier(n_jobs=1, random_state=0)

In [99]:
x_prev = test[variaveis]
x_prev = x_prev.fillna(-1)

**Previsao dos dados**

In [100]:
previc = modelo.predict(x_prev)
previc

array([0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0])

In [101]:
submision = pd.Series(previc, index=test["PassengerId"], name="Survived")
submision.shape

(418,)

**Salvando as previçoes em um csv**

In [102]:
submision.to_csv("Primeira_Submisao.csv", header=True)